<a [routerLink]="['']"><h1 class="titulo"> LIBROTECA VIRTUAL </h1></a>

<a [routerLink]="['']"><h2 class="seccion"> Inicio </h2></a>
<a [routerLink]="['/productos']"><h2 class="seccion"> Productos </h2></a>
<a [routerLink]="['/buscar']"><h2 class="seccion"> Buscar </h2></a>
<a [routerLink]="['/contacto']"><h2 class="seccion"> Contacto </h2></a>
<a [routerLink]="['/mejores']"><h2 class="seccion"> Libros mejor valorados ! </h2></a>

<a routerLink="/carrito" class="carrito"><i class="material-icons">shopping_cart</i></a>
